$lightGreen: rgb(1,210,119) !important;
$white: white !important;
$black: rgb(8,28,36) !important;
$gray: gray !important;
$topBtnBgHover: rgba(128, 128, 128, 0.349) !important;
$shadowColor: rgba(0, 0, 0, 0.5) !important;
